#main{
    background-color: antiquewhite;
    border:orangered 1px solid;
    font-size: 18px;
    text-align: center;
    width:30%;
    height:460px;
    margin:auto;
    font-size: 28px;
    font-family: sans;
}
#image{
    transform: translate(100px,10px);
    height:8%;
    width:8%;
}
#image > img{
    width:100%;
}

p{
    transform: translateY(-55px);
}

#main > button{
    transform: translate(90px,-100px);
    background-color: orange;
    height:30px;
    width:90px;
    border:groove 2px;
    border-radius: 10px;
    position:fixed;
}

#note{
    display: contents;
    display: none;
    resize: none;
    margin-top:-17%;
    font-size: 18px;
    background-color: rgb(240, 201, 93);
    padding:3px;
}

#note+button
{
    transform: translate(-45px,285px);
}