.App {
  text-align: center;
  color:#a6300c
}

.Navbar{
  height:50px;
  background:rgb(97, 147, 221);
  display: flex;
  margin-bottom: 3%;
}

.Navbar > div{
  margin-left:5%;
  margin-top:1%;
  font-size:18px;
  height:22px;
}

.buttonsBar
{
  width:600px;
  display:flex;
  justify-content: space-around;
  margin:auto;
}

.addCityBox
{
  width:25%;
  border:2px solid rgb(194, 190, 190);
  height:300px;
  margin:auto;
}